<!---
-->
<div class="container">
<p></p>
<div style="border: solid; text-align: center; width: 600px; margin: auto; border-color: blue;">
  <h1>Listado de Clientes</h1>

  <table *ngIf="ListadoClientes != null" style="border: solid;">
      <thead><th style="width: 30%;">Nombre</th>
          <th style="width: 30%;">CIF</th>
          <th style="width: 30%;">Direccion</th>
          <th style="width: 10%;">Grupo</th></thead>
      <tbody>

          <tr *ngFor="let cliente of ListadoClientes" style="border: solid;">
              <td>
                {{cliente.nombre}}
              </td>
              <td>
                  {{cliente.cif}}
              </td>
              <td>
                  {{cliente.direccion}}
              </td>
              <td>
                  {{cliente.grupo}}
              </td>
          </tr>
      </tbody>
  </table>
  </div>
</div>
